* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    background-color: beige;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
}

nav h1 {
    color: black;
    font-size: 20px;
    width: 50%;
}

nav li {
    display: inline-block;
    float: right;
    padding-top: 0;
    margin-top: 0;
    margin-right: 20px;
}
