* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HEADER NAME LOGO AND NAV BAR  */
.header {
    display: flex;
    background-color: pink;
    margin: 10px;
    justify-content: space-between;
    color: indianred;
    width: 100%;
}

.header-logo {
    text-align: left;
    padding-left: 0.25em;
    margin: 10px
}

.header-nav {
    text-align: right;
    flex-grow: 2;
    margin: 10px;
    justify-content: flex-end;
    align-self: flex-end;
}

.header-nav-item {
    display: inline;
    line-height: 0.2em;
}

.header-nav-item-anchor {
    color: indianred;
}

.subtitle {
    display: flex;
    justify-content: flex-end;
    background-color: aquamarine;
    height: 8em;
}

.subtitle-caption {
    background-color: aliceblue;
}

/* work section */
main {
    display: flex;
}

.title {
    background-color: orange;
}


/* Contact me section*/

